@font-face {

    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}

.titulo{

    font-family: "Montserrat";
    color: #E2AC3F;
    margin-left: 70px;
    margin-top: 150px;
    font-size: 50px;

}

.Ventilador_de_Coluna{  /* Ventilador de Coluna */

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 55px;
    margin-top: 100px

}

.img_Ventilador_de_Coluna{

    height: 300px;
    width: 200px;
    margin-left: 70px;
    margin-top: 35px
}

.texto_Ventilador_de_Coluna{

    font-family: "Montserrat";
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.preço_Ventilador_de_Coluna{

    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.Ventilador_de_Mesa_Arno{ /* Ventilador de Mesa Arno */

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 450px;
    margin-top: -451px

}

.img_Ventilador_de_Mesa_Arno{

    height: 300px;
    width: 200px;
    margin-left: 70px;
    margin-top: 35px
}

.texto_Ventilador_de_Mesa_Arno{     

    font-family: "Montserrat";
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.preço_Ventilador_de_Mesa_Arno{  

    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.Ar_Condicionado_Split_Samsung{ /* Ar Condicionado Split Samsung */

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 840px;
    margin-top: -451px

}

.img_Ar_Condicionado_Split_Samsung{

    height: 150px;
    width: 200px;
    margin-left: 70px;
    margin-top: 100px
}

.texto_Ar_Condicionado_Split_Samsung{

    font-family: "Montserrat";
    color: black;
    margin-left: 10px;
    margin-top: 90px;
    font-size: 15px;
}

.preço_Ar_Condicionado_Split_Samsung{

    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.Ar_Condicionado_Split_LG{  /* Ar Condicionado Split LG */

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 55px;
    margin-top: 50px

}

.img_Ar_Condicionado_Split_LG{

    height: 150px;
    width: 200px;
    margin-left: 70px;
    margin-top: 100px
}

.texto_Ar_Condicionado_Split_LG{

    font-family: "Montserrat";
    color: black;
    margin-left: 10px;
    margin-top: 90px;
    font-size: 15px;
}

.preço_Ar_Condicionado_Split_LG{

    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.Climatizador_de_Ar_Philco{ /* Climatizador de Ar Philco */

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 450px;
    margin-top: -451px

}

.img_Climatizador_de_Ar_Philco{


    height: 150px;
    width: 200px;
    margin-left: 70px;
    margin-top: 100px

}

.texto_Climatizador_de_Ar_Philco{

    font-family: "Montserrat";
    color: black;
    margin-left: 10px;
    margin-top: 90px;
    font-size: 15px;

}

.preço_Climatizador_de_Ar_Philco{

    font-family: "Montserrat";
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;

}


.Em_branco{

    border-radius: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
    margin-left: 840px;
    margin-top: -451px

}
