@import url("https://fonts.googleapis.com/css2?family=Exile&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*--------------cabeçalho----------------*/
.menu-lista {
  list-style: none; /* garante que a lista horizontal não tenha marcadores */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px; /* limita largura para não esticar demais */
  margin: 0 auto; /* centraliza horizontalmente no cabeçalho */
  width: 100%;
}

/* coloca sombra nos textos e adiciona interação quando passa o mouse */
.menu-lista .item-esquerda {
  text-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.menu-lista .item-esquerda:hover {
  transform: scale(1.15);
}

/* muda a cor do ícone para branco e da um espaçamento */
.bx {
  color: #fff;
  gap: 3px;
}
.menu-lista .item-direita {
  text-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.menu-lista .item-direita:hover {
  transform: scale(1.15);
}

/* remove margem padrão */
.menu-lista li {
  margin: 0;
}

/* tira a underline dos textos e muda a cor para branco */
.menu-lista a {
  text-decoration: none;
  color: #fff;
}

/* estiliza a logo */
.logo {
  height: 100px;
  display: block;
  margin: 0;
  align-items: center;
  filter: brightness(0) invert(1); /* muda a cor para branco */
  transition: transform 0.3s ease;
}

/* muda o tamanho da logo quando o mouse passa por cima */
.menu-lista .logo:hover {
  transform: scale(1.15);
}

/* estilização básica */
.cabecalho {
  background-color: #e2ac3f;
  padding: 10px 0;
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.25);
}



.login-container {
  background: white;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 450px;
  max-width: 90%;    
  margin: 120px auto; 
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #e2ac3f;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #e2ac3f;
  outline: none;
  box-shadow: 0 0 5px #e2ac3f;
}

button {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: #e2ac3f;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b38833;
}

.msg-erro {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
  display: none;
}
